<a href="https://colab.research.google.com/github/siobhanloughney/ds1002-sel6nzy/blob/main/homework/week-9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 9

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## Functions

In the cell below define a function that takes one parameter (in the form of a list) called `names` and returns a simple greeting for each name, such as

    "Hello Natasha, it's so nice to meet you"
    "Hello Sid, it's so nice to meet you"

Define the function and run it, and in another cell below call the function populated with a var of a list of names.

In [108]:
#
name = ["Siobhan", "Regan", "Patricia", "McKenna", "Robert", "Grace", "Amy", "Kathleen", "Patrick"]
def name_greeting(name):
  for n in name:
    print("Hello",  n, ", it's so nice to meet you.")

In [109]:
#
name_greeting(name)

Hello Siobhan , it's so nice to meet you.
Hello Regan , it's so nice to meet you.
Hello Patricia , it's so nice to meet you.
Hello McKenna , it's so nice to meet you.
Hello Robert , it's so nice to meet you.
Hello Grace , it's so nice to meet you.
Hello Amy , it's so nice to meet you.
Hello Kathleen , it's so nice to meet you.
Hello Patrick , it's so nice to meet you.

Using the following list, pass it into a function you define that will evaluate the list and return a count of how many items is in it. Be creative.

```
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]
```

In [111]:
#
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]
def list_counter(list):
  return len(list)

list_counter(mylist)

8

## Input Validation

Write a function below that defines two input parameters as `bool` and returns a `bool`.
In the cell below that, populate two variables with two different bools (True and False)
and pass them into a call of your function.

In [114]:
#
def bool_function(x,y):
  if x == True and y == True:
    print(True)
  else:
    print(False)
a = True
b = False
bool_function(a,b)
bool_function(a,a)

False
True

## Global Variables

Define a global variable and populate it with a data type (int, str, bool, float, etc.)

In [116]:
#
global gvar
gvar = 11.5

Now create a function that prints out the global variable. Call the function and display the value of the var.

In [118]:
#
def print_var(var):
  return var

print_var(gvar)

11.5

Now create a function that creates its own global var and populates it.
Call the function and then print out the global var from outside of the function.

In [125]:
#
def other_print_var():
  global gvartwo
  gvartwo = 13.4
  return gvartwo

other_print_var()

13.4

Finally, write a function that updates the value of the global var you defined 3 cells above.

1. Within the function, print out the global var you defined 3 cells above.
2. Update the global var to have a new value.
3. Within the function, print the new value of the global var.

Call the function and once more print out the value of the global var from outside of the function.

In [130]:
#
varthree = 7.3

def updating():
  global varthree
  print(varthree)
  varthree = 7.5
  return varthree
updating()

7.3

7.5