<a href="https://colab.research.google.com/github/siobhanloughney/ds1002-sel6nzy/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [58]:
# code here
var = 0
while var < 30:
  if var <= 20:
    print("<= 20")
  else:
    print("> 20")
  if var % 2 == 1:
    var = var+1
    continue
  else:
    print(var, ": even")
    var = var+1

<= 20
0 : even
<= 20
<= 20
2 : even
<= 20
<= 20
4 : even
<= 20
<= 20
6 : even
<= 20
<= 20
8 : even
<= 20
<= 20
10 : even
<= 20
<= 20
12 : even
<= 20
<= 20
14 : even
<= 20
<= 20
16 : even
<= 20
<= 20
18 : even
<= 20
<= 20
20 : even
> 20
> 20
22 : even
> 20
> 20
24 : even
> 20
> 20
26 : even
> 20
> 20
28 : even
> 20

## For-Loops with Lists

In [59]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [60]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for numbers in mylist:
  if numbers < 0:
    continue
  else:
    print(numbers)

9
15
23
4
92
47
33
17
18
38

In [61]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for numbers in mylist:
  if numbers < 0:
    print("Absolute Value = ", numbers*-1)
  else:
    print(numbers)

9
15
23
4
92
47
33
17
Absolute Value =  4
18
38
Absolute Value =  242

In [62]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for numbers in mylist:
  if numbers < 20 or numbers > 40:
    print(numbers)
  else:
    continue

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [63]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [64]:
# Write a command to print out all the keys of this dict
for nations in capitals:
  print(nations)

United States
Italy
England
Thailand
Brazil

In [65]:
# Write a command to print out all the values of this dict
for cities in capitals:
  print(capitals[cities])

Washington DC
Rome
London
Bangkok
Brasilia

In [66]:
# Write a command to print all the keys and values for this dict
for nations, cities in capitals.items():
  print(nations)
  print(cities)

United States
Washington DC
Italy
Rome
England
London
Thailand
Bangkok
Brazil
Brasilia

In [67]:
# Write a command to print only the first three values and NOTHING more.
for cities in capitals:
  if cities:
    print(capitals[cities])
  if capitals[cities] == "London":
    break

Washington DC
Rome
London